* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,:active {outline: none;}
a:focus,a:active {outline: none;}

nav,footer,header,aside {display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}
img{vertical-align: top;}

h1, h2, h3, h4, h5, h6{font-style: inherit; font-weight: 400;}

/* --------------------------------- */

body{
font-family: 'Times New Roman', Times, serif;
background-color: #e8e8e8;
background: url(../Source/img/ellipse\ background.png) center no-repeat;
}

.main{
width: 50%;
height: 1500px;
margin-left: 25%;
}

.travel{
opacity: 0.600;
font-size: 14px;
letter-spacing: 3px;
line-height: 40px;
text-transform: uppercase;
color: #273d46;
font-family: "Arial";
text-align: center;
padding: 80px 0 0 0;


}

.top_text{
font-size: 36px;
line-height: 50px;
color: #273d46;
font-family: "Times New Roman";
text-align: center;
margin-top: 27px;
margin-bottom: 77px;
}

.background_img{
background: url(../Source/img/фото.png) center/cover	no-repeat;
width: auto;
height: 600px;
filter: drop-shadow(0px 15px 32.5px rgba(15,16,16,0.15));
border: 15px solid #ffffff;
text-align: center;
}

.main_text_1{
opacity: 0.800;
font-size: 24px;
line-height: 40px;
text-align: left;
color: #273d46;
font-family: "Times New Roman";
margin-top: 97px;
padding: 20px;
}
.main_text_2{
opacity: 0.800;
font-size: 24px;
line-height: 40px;
text-align: left;
color: #273d46;
font-family: "Times New Roman";
padding: 20px;
margin-bottom: 68px;
}

.button{
background-color:rgba(128,183,179);
filter: drop-shadow(0px 6px 20px rgba(128,183,179,1));
border-radius: 25px;
width: 250px;
height: 50px;
margin: 60px 0 0 30px;
}


.text_button{
font-size: 14px;
letter-spacing: 3px;
text-transform: uppercase;
color: #ffffff;
font-family: "Arial";
background: url(../Source/img/Shape\ 2.png) 90% 50% no-repeat;
}

.spisok1 li:nth-child(1){
font-size: 20px;
line-height: 36px;
color: #273d46;
font-family: "Arial";
text-decoration: line-through;
filter: drop-shadow(0px 1px 0px rgba(0,0,0,0.3));
background: url(../Source/img/check\ icon.png) left no-repeat;
padding: 0 0 0 40px;
margin: 0 0 0 20px;
}

.spisok1 li:nth-child(2){
font-size: 20px;
line-height: 36px;
color: #273d46;
font-family: "Arial";
font-weight: 700;
background: url(../Source/img/check\ icon.png) left no-repeat;
padding: 0 0 0 40px;
margin: 0 0 0 20px;
}
.spisok1 li:nth-child(3){
font-size: 20px;
line-height: 36px;
color: #273d46;
font-family: "Arial";
font-style: italic;
background: url(../Source/img/check\ icon.png) left no-repeat;
padding: 0 0 0 40px;
margin: 0 0 0 20px;
}
.spisok1 li:nth-child(4){
font-size: 20px;
line-height: 36px;
color: #273d46;
font-family: "Arial";
text-transform: uppercase;
background: url(../Source/img/check\ icon.png) left no-repeat;
padding: 0 0 0 40px;
margin: 0 0 0 20px;
}

.spisok1 li:nth-child(1):hover{
font-size: 20px;
line-height: 36px;
color: #273d46;
font-family: "Arial";
text-decoration: none;
}

.spisok1 li:nth-child(2):hover{
font-size: 20px;
line-height: 36px;
color: #d55a5a;
font-family: "Arial";
background: url(../Source/img/red_icon.png) left no-repeat;
}

.spisok1 li:nth-child(3):hover{
font-size: 20px;
line-height: 36px;
color: #273d46;
font-family: "Arial";
font-style: normal;
}

.spisok1 li:nth-child(4):hover{
font-size: 20px;
line-height: 36px;
color: #273d46;
font-family: "Arial";
text-transform: none;
}

.button:hover{
filter: drop-shadow(0px 6px 20px rgba(128,183,179,0.54));
background-color: #3a5856;
}

.button:active{
background-color: #818181;
}

.form_text{
	border: 1px solid #000;
	height: 50px;
	width: 300px;
	position: center;
	font-size: 18px;
	padding: 0 0 0 50px;
	justify-content: center;
}


.form_text:focus{
filter: drop-shadow(0 0 10px rgba(127,190,213,0.93));
border: 1px solid #7fbed5;
font-size: 26px;
border-radius: 25px;
}


.form_cont{
display: flex;
justify-content: center;
margin: 50px 0 50px 0;
}
